@import "/packages/bootstrap3-less/bootstrap.lessimport";

@logo-width: 203px;
@logo-height: 35px;

body{
	padding-top: @navbar-height + 20px;
	padding-left: 10px;
}

#navbar{
	max-width: 900px;
}

nav a{
	color: @gray-light;
	font-size: 24px;
	line-height: 1;
}

@font-face {
  font-family: 'Hotrod';
  src: url('hotrod.ttf');
}

div.header{
	line-height: 1;
	color: #E3170D;

   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;

}

img.logo{
	width: @logo-width;
	height: @logo-height;
}

div.header{
	font-family: "Hotrod", "Impact", sans-serif;
}

@media (min-width: 637px){

	.mobile-only{
		display: none;
	}
	html{
		height: 100%;
		width: 100%;
		background-color: black;
	}

	#background-image{
		position: absolute;
	    top: 0;
	    left: 0;
	    bottom: 0;
	    right: 0;
		background-image: url("accelerator.jpg");
		background-size: 100% 100%;
		filter: blur(5px);
		-webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		-o-filter: blur(5px);
		-ms-filter: blur(5px);
	}

	body{
		height: 100%;
		width: 100%;
	}

	div.header-container{
		position: absolute;
		padding-left: 1%;
		left: 50%;
		top: 15%;
		z-index: 11;
		clear:both;
	}

	div.header{
		margin-left: -50%;
		font-size: 120pt;
	}

	img.logo{
		position:absolute; /*relative to its contaniner */
		top: 7.5px;
		left: -50%;
	}

}

@media (max-width: 637px){
	html, body{
		background-color: #000026;
	}

	div.header{
		font-size: 80pt;
		line-height: 40pt;
	}

}